@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

$color-letter: hsl(0, 0%, 100%);
$color-background:  hsl(207, 26%, 17%);
$color-background-item: hsl(209, 23%, 22%);
$letter-style: 'Nunito Sans', sans-serif;